<h1>List of Learning Capsules</h1>

<%= link_to 'Create New Capsule', new_capsule_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @capsules.each do |capsule| %>
      <tr>
        <td><%= capsule.title %></td>
        <td><%= capsule.description %></td>
        <td><%= link_to 'Show', capsule %></td>
        <td><%= link_to 'Edit', edit_capsule_path(capsule) %></td>
        <td><%= link_to 'Destroy', capsule_path(capsule),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>

</table>

<%= link_to 'Home Page', welcome_index_path %>

