<div class="page-header">
  <h1><%=@capsule.title%> <br/>
    <small><%= @capsule.description %></small>
  </h1>
</div>


<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Study Material</h3>
  </div>
  <div class="panel-body">
    <%= simple_format @capsule.study_text %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Assignment for Student</h3>
  </div>
  <div class="panel-body">
    <%= simple_format @capsule.assignment_instructions %>
  </div>
</div>


<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"> Guidelines for Evaluators </h3>
  </div>
  <div class="panel-body">
    <%= simple_format @capsule.guidelines_for_evaluators %>
  </div>
</div>


<div align="left">
  <%= link_to "< Back", capsules_path, :class=> "btn btn-primary" %>
  <%= link_to "Edit", edit_capsule_path(@capsule), :class=> "btn btn-warning" %>
</div>
