<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @learning_path.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @learning_path.description %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @learning_path.objective %>
</p>

<%= link_to 'Edit', edit_learning_path_path(@learning_path) %> |
<%= link_to 'Back', learning_paths_path %>
