<!DOCTYPE html>
<html>
<head>
  <title>Dakshina</title>
  <link href="/images/favicon.ico?v=1" rel="icon" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Dakshina", welcome_index_path, :class=>"navbar-brand" %>
  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">
        <span class="glyphicon glyphicon-flash"></span>
        Admin
      </a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-user"></span>
          Gurpreet
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="#"> <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
